.profile-card {
  /* layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* style */
  border-radius: 24px;
  background: var(--greywhite, #fcfdff);
}
.profile-card--large {
  /* layout */
  min-width: 840px;
  padding: 32px;
}
.profile-card--medium {
  /* layout */
  width: 512px;
  min-width: 412px;
  max-width: 640px;
  padding: 16px;
}
.profile-card--small {
  /* layout */
  width: 384px;
  min-width: 320px;
  max-width: 450px;
  padding: 16px;
}
.profile-card:hover {
  /* style */
  box-shadow: 0 0 0 1px var(--second0, #ffb5b5) inset;
}

.profile-card-content-layout {
  /* layout */
  display: flex;
  align-items: center;
}
.profile-card-content-layout--large {
  /* layout */
  gap: 12px;
}
.profile-card-content-layout--medium {
  /* layout */
  gap: 8px;
}
.profile-card-content-layout--small {
  /* layout */
  gap: 6px;
}

.profile-card-function-button:hover {
  /* style */
  cursor: profile-card-pointer;
}
