.profile-text {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.profile-text--large {
  /* layout */
  gap: 8px;
}
.profile-text--medium {
  /* layout */
  gap: 6px;
}
.profile-text--small {
  /* layout */
  gap: 4px;
}

.profile-text-large-layout {
  /* layout */
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.profile-text-login-id-style {
  /* layout */
  justify-content: center;
  align-items: center;

  /* style */
  border-radius: 20px;
  color: var(--greywhite, #fcfdff);
  background: var(--first0, #132743);
}
.profile-text-login-id-style--large {
  /* layout */
  padding: 2px 14px;
}
.profile-text-login-id-style--medium {
  /* layout */
  padding: 2px 14px;
}
.profile-text-login-id-style--small {
  /* layout */
  padding: 2px 8px;
}

.profile-text-location-style {
  /* style */
  color: var(--first0, #132743);
}

.profile-text-comment-style {
  /* style */
  color: var(--first1, #4a6282);
}

.profile-text-h4 {
  /* Roboto-Heading4 */
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-text-h5 {
  /* Roboto-Heading5 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-text-h6 {
  /* Roboto-Heading6 */
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.profile-text-body3 {
  /* Roboto-Body3 */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-text-small {
  /* roboto-small */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile-text-small2 {
  /* roboto-small */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
