@import "/styles/font";
@import "/styles/variables";

.profiletext {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &--large {
    /* layout */
    gap: 0.5rem;
  }
  &--medium {
    /* layout */
    gap: 0.375rem;
  }
  &--small {
    /* layout */
    gap: 0.25rem;
  }

  &__login {
    /* layout */
    justify-content: center;
    align-items: center;

    /* style */
    border-radius: 1.2rem;
    color: $graywhite-color-0;
    background: $primary-color-0;
    &--large {
      padding: 0.25rem 1rem;
      @extend .header-5;
    }
    &--medium {
      padding: 0.25rem 0.75rem;
      @extend .header-6;
    }
    &--small {
      padding: 0.25rem 0.75rem;
      @extend .header-6;
    }
  }

  &__location {
    /* style */
    color: $primary-color-0;
    &--large {
      @extend .header-4;
    }
    &--medium {
      @extend .header-5;
    }
    &--small {
      @extend .header-6;
    }
  }

  &__comment {
    /* style */
    color: $primary-color-1;
    &--large {
      @extend .body-3;
    }
    &--medium {
      @extend .body-4;
    }
    &--small {
      @extend .body-5;
    }
  }
}
