@import "/styles/variables";

.skeleton {
  display: flex;
  flex-shrink: 0;
  border-radius: 1.5rem;
  background-color: rgba($color-grey-2, 0.4);

  &:hover {
    box-shadow: none;
    cursor: wait;
  }

  &--small {
    // min-width: 22rem;
    padding: 1rem;
    gap: 1rem;
  }
  &--medium {
    min-width: 28rem;
    padding: 1rem;
    gap: 1rem;
  }
  &--large {
    min-width: 35rem;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  &__image {
    border-radius: 50%;
    background-color: $color-grey-2;

    &--small {
      width: 4rem;
      height: 4rem;
    }
    &--medium {
      width: 6rem;
      height: 6rem;
    }
    &--large {
      width: 8rem;
      height: 8rem;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--small {
      gap: 0.375rem;
    }
    &--medium {
      gap: 0.5rem;
    }
    &--large {
      gap: 0.625rem;
    }
  }

  &__text {
    background: $color-grey-2;
    border-radius: 1.5rem;

    &--small {
      width: 10rem;
      height: 1.25rem;
    }
    &--medium {
      width: 12rem;
      height: 1.5rem;
    }
    &--large {
      width: 16rem;
      height: 1.75rem;
    }
  }
  // TODO?:: 애니메이션 추가 필요할수도 있음
}
