@import "/styles/fonts";
@import "/styles/variables";

.iconbutton {
  /* layout */
  display: inline-flex;
  align-items: center;

  &--small {
    padding: 6px 10px;
    gap: 4px;
  }
  &--medium {
    padding: 10px 14px;
    gap: 6px;
  }
  &--large {
    padding: 14px 18px;
    gap: 8px;
  }

  /* style */
  border-radius: 64px;
  box-shadow: 0 0 0 2px $color-primary-0 inset;

  &__text {
    /* style */
    color: $color-primary-0;

    &--small {
      @extend .body-5;
    }
    &--medium {
      @extend .body-3;
    }
    &--large {
      @extend .body-1;
    }
  }

  /* etc */
  cursor: pointer;
}
