.login-template {
    min-height: 100vh;
    width: 100%;

    display: flex;
}

.left-section {
    flex: 1;
    background-color: #132743;
    width: 50%;
}

.right-section {
    flex: 1;
    background-color: white;
    width: 50%;
}