@import "/styles/variables";
@import "/styles/fonts";

.group {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: $color-greywhite-0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.75rem 1.5rem;

    border-top: 1px solid $color-primary-0;
  }
  &__textbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__name {
    @extend .body-4;
  }
  &__count {
    @extend .body-5;
  }
  &__buttonbox {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

.fold {
  display: none;
}
.unfold {
  display: flex;
}
// TODO: 지금은 버튼을 눌러서 펼치면 스크롤이 생기는데
// overflow랑 height를 적절히 설정해서 스크롤이 생기지 않도록 해야 함
