.main-template {
  width: 100%;
  height: 100%;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  /* padding 을 내부 요소로 포함시킴 */
  box-sizing: border-box;
}
