.profile-image__image {
  border-radius: 50%;
  object-fit: cover;
  z-index: -1;
}

.profile-image--large {
  width: 128px;
  height: 128px;
}
.profile-image--medium {
  width: 96px;
  height: 96px;
}
.profile-image--small {
  width: 64px;
  height: 64px;
}
