.profileimage {
  :hover {
    cursor: pointer;
  }
  &--large {
    width: 128px;
    height: 128px;
  }
  &--medium {
    width: 96px;
    height: 96px;
  }
  &--small {
    width: 64px;
    height: 64px;
  }
}

.profileimage__image {
  border-radius: 50%;
  object-fit: cover;
  z-index: -1;
}
