@import "/styles/variables.scss";

.profile-image {
  border-radius: 50%;
  background-color: $color-greywhite-0;

  &--large {
    width: 128px;
    height: 128px;
  }
  &--medium {
    width: 96px;
    height: 96px;
  }
  &--small {
    width: 64px;
    height: 64px;
  }

  &__image {
    object-fit: cover;
    border-radius: 50%;
  }

  &__indicator {
    position: absolute;
    border-radius: 50%;
    z-index: 1;

    &--small {
      width: 64px;
      height: 64px;
      box-shadow: inset 0px 0px 0px 2px $color-secondary-0;
    }
    &--medium {
      width: 96px;
      height: 96px;
      box-shadow: inset 0px 0px 0px 3px $color-secondary-0;
    }
    &--large {
      width: 128px;
      height: 128px;
      box-shadow: inset 0px 0px 0px 4px $color-secondary-0;
    }
  }
}
