@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/GmarketSansBold.otf") format("otf"),
    url("~&/fonts/GmarketSansTTFBold.ttf") format("truetype");

  font-weight: 700;
  line-height: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/GmarketSansLight.otf") format("otf"),
    url("~&/fonts/GmarketSansTTFLight.ttf") format("truetype");

  font-weight: 300;
  line-height: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/GmarketSansMedium.otf") format("otf"),
    url("~&/fonts/GmarketSansTTFMedium.ttf") format("truetype");

  font-weight: 500;
  line-height: normal;
}

%font-base {
  color: var(--first-0, #132743);

  font-family: "GmarketSans";

  font-style: normal;
  line-height: normal;
}

%header-base {
  @extend %font-base;
  font-weight: 700;
}

.header-1 {
  @extend %header-base;
  font-size: 3.5rem;
}

.header-2 {
  @extend %header-base;
  font-size: 3rem;
}

.header-3 {
  @extend %header-base;
  font-size: 2.5rem;
}

.header-4 {
  @extend %header-base;
  font-size: 2rem;
}

.header-5 {
  @extend %header-base;
  font-size: 1.5rem;
}

.header-6 {
  @extend %header-base;
  font-size: 1rem;
}

%body-base {
  @extend %font-base;
  font-weight: 500;
}

.body-1 {
  @extend %body-base;
  font-size: 2rem;
}

.body-2 {
  @extend %body-base;
  font-size: 1.75rem;
}

.body-3 {
  @extend %body-base;
  font-size: 1.5rem;
}

.body-4 {
  @extend %body-base;
  font-size: 1.25rem;
}

.body-5 {
  @extend %body-base;
  font-size: 1rem;
}

.body-6 {
  @extend %body-base;
  font-size: 0.75rem;
}

%light-base {
  @extend %font-base;
  font-weight: 300;
}

.light-1 {
  @extend %light-base;
  font-size: 1.25rem;
}

.light-2 {
  @extend %light-base;
  font-size: 1rem;
}

.light-3 {
  @extend %light-base;
  font-size: 0.75rem;
}

.light-4 {
  @extend %light-base;
  font-size: 0.5rem;
}

.light-5 {
  @extend %light-base;
  font-size: 0.25rem;
}
