@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/GmarketSansBold.otf") format("otf"),
    url("~&/fonts/GmarketSansTTFBold.ttf") format("truetype");

  font-weight: 700;
  line-height: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/GmarketSansLight.otf") format("otf"),
    url("~&/fonts/GmarketSansTTFLight.ttf") format("truetype");

  font-weight: 300;
  line-height: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/GmarketSansMedium.otf") format("otf"),
    url("~&/fonts/GmarketSansTTFMedium.ttf") format("truetype");

  font-weight: 500;
  line-height: normal;
}

%font-base {
  color: var(--first-0, #132743);

  font-family: "GmarketSans";

  font-style: normal;
  line-height: normal;
}

%header-base {
  @extend %font-base;
  font-weight: 700;
}

.header-1 {
  @extend %header-base;
  font-size: 56px;
}

.header-2 {
  @extend %header-base;
  font-size: 48px;
}

.header-3 {
  @extend %header-base;
  font-size: 40px;
}

.header-4 {
  @extend %header-base;
  font-size: 32px;
}

.header-5 {
  @extend %header-base;
  font-size: 24px;
}

.header-6 {
  @extend %header-base;
  font-size: 16px;
}

%body-base {
  @extend %font-base;
  font-weight: 500;
}

.body-1 {
  @extend %body-base;
  font-size: 32px;
}

.body-2 {
  @extend %body-base;
  font-size: 28px;
}

.body-3 {
  @extend %body-base;
  font-size: 24px;
}

.body-4 {
  @extend %body-base;
  font-size: 20px;
}

.body-5 {
  @extend %body-base;
  font-size: 16px;
}

.body-6 {
  @extend %body-base;
  font-size: 12px;
}

%light-base {
  @extend %font-base;
  font-weight: 300;
}

.light-1 {
  @extend %light-base;
  font-size: 20px;
}

.light-2 {
  @extend %light-base;
  font-size: 16px;
}

.light-3 {
  @extend %light-base;
  font-size: 12px;
}

.light-4 {
  @extend %light-base;
  font-size: 8px;
}

.light-5 {
  @extend %light-base;
  font-size: 4px;
}
