@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/woff2/GmarketSansLight.woff2") format("font/woff2"),
    url("~&/fonts/woff/GmarketSansLight.woff") format("font/woff"),
    url("~&/fonts/otf/GmarketSansLight.otf") format("otf"),
    url("~&/fonts/ttf/GmarketSansLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/woff2/GmarketSansMedium.woff2") format("font/woff2"),
    url("~&/fonts/woff/GmarketSansMedium.woff") format("font/woff"),
    url("~&/fonts/otf/GmarketSansMedium.otf") format("otf"),
    url("~&/fonts/ttf/GmarketSansMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("~&/fonts/woff2/GmarketSansBold.woff2") format("font/woff2"),
    url("~&/fonts/woff/GmarketSansBold.woff") format("font/woff"),
    url("~&/fonts/otf/GmarketSansBold.otf") format("otf"),
    url("~&/fonts/ttf/GmarketSansBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

%font-base {
  color: var(--first-0, #132743);

  font-family: "GmarketSans";

  font-style: normal;
  line-height: normal;
}

%header-base {
  @extend %font-base;
  font-weight: 700;
}

.header-1 {
  @extend %header-base;
  font-size: 3.5rem;
}

.header-2 {
  @extend %header-base;
  font-size: 3rem;
}

.header-3 {
  @extend %header-base;
  font-size: 2.5rem;
}

.header-4 {
  @extend %header-base;
  font-size: 2rem;
}

.header-5 {
  @extend %header-base;
  font-size: 1.5rem;
}

.header-6 {
  @extend %header-base;
  font-size: 1rem;
}

%body-base {
  @extend %font-base;
  font-weight: 500;
}

.body-1 {
  @extend %body-base;
  font-size: 2rem;
}

.body-2 {
  @extend %body-base;
  font-size: 1.75rem;
}

.body-3 {
  @extend %body-base;
  font-size: 1.5rem;
}

.body-4 {
  @extend %body-base;
  font-size: 1.25rem;
}

.body-5 {
  @extend %body-base;
  font-size: 1rem;
}

.body-6 {
  @extend %body-base;
  font-size: 0.75rem;
}

%light-base {
  @extend %font-base;
  font-weight: 300;
}

.light-1 {
  @extend %light-base;
  font-size: 1.25rem;
}

.light-2 {
  @extend %light-base;
  font-size: 1rem;
}

.light-3 {
  @extend %light-base;
  font-size: 0.75rem;
}

.light-4 {
  @extend %light-base;
  font-size: 0.5rem;
}

.light-5 {
  @extend %light-base;
  font-size: 0.25rem;
}
