@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-normal bg-white;
}

/* 반응형 기준 */
/* 기본: 모바일 */
/* md: 태블릿 (768+) */
/* lg: 데스크탑 (1024+) */
/* 2xl: 데스크탑 (1536+) */

@font-face {
  font-family: "GmarketSans";
  src:
    url("/fonts/woff2/GmarketSansLight.woff2") format("font/woff2"),
    url("/fonts/woff/GmarketSansLight.woff") format("font/woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("/fonts/woff2/GmarketSansMedium.woff2") format("font/woff2"),
    url("/fonts/woff/GmarketSansMedium.woff") format("font/woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src:
    url("/fonts/woff2/GmarketSansBold.woff2") format("font/woff2"),
    url("/fonts/woff/GmarketSansBold.woff") format("font/woff");
  font-weight: 700;
  font-style: normal;
}
