$primary-color-0: #132743;
$primary-color-1: #4a6282;
$primary-color-2: #88a0c3;
$secondary-color-0: #ffb5b5;
$secondary-color-1: #ffc6c6;
$secondary-color-2: #ffdddd;
$gray-color-0: #3f4135;
$gray-color-1: #7f848d;
$gray-color-2: #d9d9d9;
$graywhite-color-0: #fcfdff;
$red-color-0: #b20000;
$green-color-0: #00621b;
