$color-primary-0: #132743;
$color-primary-1: #4a6282;
$color-primary-2: #88a0c3;
$color-secondary-0: #ffb5b5;
$color-secondary-1: #ffc6c6;
$color-secondary-2: #ffdddd;
$color-grey-0: #3f4135;
$color-grey-1: #7f848d;
$color-grey-2: #d9d9d9;
$color-greywhite-0: #fcfdff;
$color-red-0: #b20000;
$color-green-0: #00621b;
